
@{
    ViewData["Title"] = "SearchCompareTwoParts";
}

<link href="~/css/StyleSeachViewDetails.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .header {
        background-color: #008000;
        padding: 5px;
        text-align: center;
        width: 1110px;
        font-size: 10px;
        color: white;
    }

    #example1 {
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
    }
</style>



<div class="header center-block">
    <h3>Compare 2 parts or services</h3>
</div>
<div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-half w3-margin-bottom">
        <div class="wrapper w3-card w3-margin">
            <ul class="w3-ul w3-white w3-center">
                <li class="w3-padding-10">
                    <img src="~/images/steering.jpg" alt="Auto Parts Logo" height="200" width="200" class="center-block">
                </li>
                <li class="w3-black w3-xlarge w3-padding-8">Steering</li>
                <li class="w3-padding-14"><b>Price:</b> $180.00</li>
                <li class="w3-light-grey w3-padding-20">
                    <span><button class="btn btn-primary">Product link</button></span>
                    <span><button class="btn btn-primary">Company Web Site</button></span>
                </li>
                <li class="w3-padding-14"><b>Company Name:</b> eBay</li>
                <li class="w3-padding-14"><img src="~/images/eBay.png" alt="eBay Logo" style="float: inherit;" height="50" width="70" class="rg"></li>
                <li class="w3-padding-14"><b>Description:</b><br /> Super Rare Genuine TRD Emblem 3 Spokes MOMO Steering Wheel oem used KBA70068</li>
                <li class="w3-padding-14">
                    <h3> 1 km</h3>
                    <span class="w3-opacity"><b>Distance</b></span>
                </li>
                <li class="w3-padding-14"><b>Category:</b> Auto Parts </li>
                <li class="w3-padding-14"><b>Company Address:</b><br />2640 Midland Ave, Toronto, ON, M1P2PS</li>
                <li class="w3-padding-14"><b>Phone:</b> 6473853056</li>
                <li class="w3-padding-14"><b>Account Type:</b> Big box store</li>
            </ul>
        </div>
    </div>

    <div class="w3-half w3-margin-bottom">
        <div class="wrapper w3-card w3-margin">
            <ul class="w3-ul w3-white w3-center">
                <li class="w3-padding-14">
                    <img src="~/images/steering2.jpg" alt="Auto Parts Logo" height="200" width="200" class="center-block">
                </li>
                <li class="w3-black w3-xlarge w3-padding-8">Steering</li>
                <li class="w3-padding-14"><b>Price:</b> $100.00</li>
                <li class="w3-light-grey w3-padding-20">
                    <span><button class="btn btn-primary">Product link</button></span>
                    <span><button class="btn btn-primary">Company Web Site</button></span>
                </li>
                <li class="w3-padding-14"><b>Company Name:</b> eBay</li>
                <li class="w3-padding-10"><img src="~/images/AmazonLogo.jpg" alt="Amazon Logo" style="float: inherit;" height="50" width="70" class="rg"></li>
                <li class="w3-padding-14"><b>Description:</b><br /> 1968 - 1975 / 1977-1982 Corvette C3 Mahogany Steering Wheel w/ 3 Chrome Spokes</li>
                <li class="w3-padding-14">
                    <h3> 1 km</h3>
                    <span class="w3-opacity"><b>Distance</b></span>
                </li>
                <li class="w3-padding-14"><b>Category:</b> Auto Parts </li>
                <li class="w3-padding-14"><b>Company Address:</b><br />2640 Midland Ave, Toronto, ON, M1P2PS</li>
                <li class="w3-padding-14"><b>Phone:</b> 6473853056</li>
                <li class="w3-padding-14"><b>Account Type:</b> Big box store</li>
            </ul>
        </div>
    </div>
</div>











































