

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<link href="~/css/style.css" rel="stylesheet" />
<br />
<br />
<br />

<div class="signinform">
    <h3>@TempData["ResetPassword"]</h3>
    <div>
        <img src="~/images/MechanicCheckerLogoSmaller.png" alt="Mechanic Checker App Logo" height="55" width="130" class="center-block">
    </div>

    <h3>Forgot Your Passowrd?</h3>
    <h5>Enter your email</h5>
    <div class="text-danger"></div>
    <form action="ResetPassword" controller="Account" method="post">
        <input type="hidden" />
        <div class="form-group">
            <label for="Email">Email</label>
            <div><span class="text-danger"></span></div>
            <input type="text" name="Email" class="form-control" required />
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

<br />
<br />
<br />
