@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<link href="~/css/style.css" rel="stylesheet" />
<br />
<br />
<br />

<body>
    <div class="signupform">
        <h3>@ViewData["PostSignUp"]</h3>
        <div>
            <img src="~/images/MechanicCheckerLogoSmaller.png" alt="Mechanic Checker App Logo" height="55" width="130" class="center-block">
        </div>
        <h2>Welcome</h2>
        <h3>Seller's Sign Up here</h3>
        <form asp-controller="Account" asp-action="SignUp" method="post" enctype="multipart/form-data" name="registration">

            <div class="form-group">
                <label for="UserName">Username</label>
                <div><span class="text-danger"></span></div>
                <input type="text" name="UserName" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <div><span class="text-danger"></span></div>
                <input type="text" name="FirstName" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="LastName">Last Name</label>
                <div><span class="text-danger"></span></div>
                <input type="text" name="LastName" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <div><span class="text-danger"></span></div>
                <input type="text" name="Email" placeholder="Eg. hello@hello.ca" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <div><span class="text-danger"></span></div>
                <input type="password" id="Password" name="Password" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                <div><span class="text-danger"></span></div>
                <input type="password" name="ConfirmPassword" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="AccountType">Choose your Account Type</label>
                <div><span class="text-danger"></span></div>
                <select name="AccountType" id="AccountType" class="form-control" required>
                    <option value="Store">Small Mechanic Store</option>
                    <option value="Individual">Independent Seller</option>
                </select>
            </div>
            <div class="form-group">
                <label for="CompanyName">Company Name</label>
                <div><span class="text-danger"></span></div>
                <input type="text" name="CompanyName" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="Address">Address</label>
                <div><span></span></div>
                <input type="text" name="Address" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="City">City</label>
                <div><span class="text-danger"></span></div>
                <input type="text" name="City" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="Province">Province</label>
                <div><span class="text-danger"></span></div>
                <select name="Province" id="Province" class="form-control" required>
                    <option value="ON">Ontario</option>
                    <option value="AB">Alberta</option>
                    <option value="BC">British Columbia</option>
                    <option value="MB">Manitoba</option>
                    <option value="NB">New Brunswick</option>
                    <option value="NL">Newfoundland and Labrador</option>
                    <option value="NT">Northwest Territories</option>
                    <option value="NS">Nova Scotia</option>
                    <option value="NU">Nunavut</option>
                    <option value="PE">Prince Edward Island</option>
                    <option value="QC">Quebec</option>
                    <option value="SK">Saskatchewan</option>
                    <option value="YT">Yukon</option>
                </select>
            </div>
            <div class="form-group">
                <label for="PostalCode">Postal Code</label>
                <div><span class="text-danger"></span></div>
                <input type="text" name="PostalCode" class="form-control" placeholder="Eg. A1A 1A1" maxlength="10" required />
            </div>
            <div class="form-group">
                <label for="BusinessPhone">Business Phone</label>
                <div><span class="text-danger"></span></div>
                <input type="text" name="BusinessPhone" placeholder="Eg. 9051239999" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="CompanyLogo">Company Logo</label>
                <div><span class="text-danger"></span></div>
                <input type="file" id="CompanyLogoUrl" name="CompanyLogoUrl" class="form-control" accept="image/*" required>
            </div>
            <div class="form-group">
                <label for="WebsiteUrl">Website (Optional)</label>
                <div><span class="text-danger"></span></div>
                <input type="text" name="WebsiteUrl" placeholder="Eg. https://www.hello.com" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Application">Application (Optional)</label>
                <div><span class="text-danger"></span></div>
                <textarea id="Application" name="Application" rows="4" cols="50" class="form-control" placeholder="Write here the reasons for wanting to sign up with Mechanic Checker"></textarea>
            </div>
            <div class="form-group">
                <button asp-controller="Home" asp-action="Index" type="submit">Cancel</button>
                <button asp-controller="Account" asp-action="SignUp" method="post" type="submit">Sign Up</button>
            </div>
        </form>
        <h5>You agree to Mechanic Checker App's terms and condiitons. </h5>
    </div>
</body>

@section Scripts
{
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>


    <script>
        //for debuggin purposes doesnt submit form
        //jQuery.validator.setDefaults({
        //    debug: true,
        //    success: "valid"
        //});

        //Method to validate canadian postal code
        jQuery.validator.addMethod("cdnPostal", function (postal, element) {
            return this.optional(element) ||
                postal.match(/^[a-zA-Z][0-9][a-zA-Z](-| |)[0-9][a-zA-Z][0-9]$/);
        }, "Please specify a valid postal code.");

        //
        jQuery.validator.addMethod("phoneCdn", function (phone_number, element) {
            phone_number = phone_number.replace(/\s+/g, "");
            return this.optional(element) || phone_number.length == 10 &&
                phone_number.match(/^(\([2-9]\d{2}\)|[2-9]\d{2})[2-9]\d{2}\d{4}$/);
        }, "Please specify a valid phone number");

        $(function () {
            // Initialize form validation on the registration form.
            // It has the name attribute "registration"
            $("form[name='registration']").validate({
                // Specify validation rules
                rules: {
                    // The key name on the left side is the name attribute
                    // of an input field. Validation rules are defined
                    // on the right side
                    FirstName: "required",
                    LastName: "required",
                    UserName: "required",
                    Email: {
                        required: true,

                        email: true
                    },
                    Password: {
                        required: true,
                        minlength: 5
                    },
                    ConfirmPassword: {
                        required: true,
                        equalTo: "#Password"
                    },
                    AccountType: "required",
                    CompanyName: "required",
                    Address: "required",
                    City: "required",
                    Province: "required",
                    PostalCode: {
                        required: true,
                        cdnPostal: true
                    },
                    BusinessPhone: {
                        required: true,
                        phoneCdn: true
                    },
                    WebsiteUrl: {
                        url: true
                    },
                    CompanyLogoUrl: {
                        required: true,
                        extension: "png|jpg|jpeg"
                    }
                },

                //// Specify validation error messages
                messages: {
                    FirstName: "Please enter your firstname",
                    LastName: "Please enter your lastname",
                    UserName: "Please enter a username",
                    Password: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 5 characters long"
                    },
                    Email: "Please enter a valid email address",
                    ConfirmPassword: {
                        required: "Please provide a password",
                        equalTo: "Your Passwords do not match, enter again"
                    },
                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid


                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var vendorFilter = $("#vendorFilter");

            $(".default_option").click(function () {
                $(".dropdown ul").addClass("active");
            });
            $(".dropdown ul li").click(function () {
                var text = $(this).text();
                var vendorOption = $(this).data("value");

                $(".default_option").text(text);
                $(".dropdown ul").removeClass("active");

                vendorFilter.val(vendorOption);
            });
        });
    </script>

}