@{
    ViewData["Title"] = "About";
}
<h2>About</h2>
<h3>What is Mechanic Checker?</h3>

<p>The Mechanic Checker Web Application allows Canadian users located in the Greater Toronto Area (GTA) to compare auto part-related items and automotive-related services, from local stores and major retailers, i.e. Ebay, Amazon, and Alibaba, with plans for adding support for more major retailers, e.g. Walmart. Local stores can create an account to post their auto part-related items and automotive-related services listings. Additionally for local stores users can filter search results based on local stores near their location via the Google Maps API. For the major retailers, the Mechanic Checker uses product APIs provided by said retailers to obtain their auto part-related items listings.</p>
<p>The Mechanic Checker website is built on .NET Core 2.1.</p>
<p>This is Phase 1 of a 2-Phase Centennial College capstone project for created for Software Development Project 1 (COMP-231), for the professor Jake Nesovic. Phase 2 of the Mechanic Checker project will be done in Software Development Project 2 (COMP-313).</p>

<p>The Mechanic Checker Web Application GitHub Repo: <a href="https://github.com/COMP231W21-G5/Mechanic-Checker">https://github.com/COMP231W21-G5/Mechanic-Checker</a></p>

<h3>Mechanic Checker Team</h3>
<p>The Mechanic Checker team is as follows:</p>
<ul>
    <li>
        Michael Asemota
        <ul>
            <li>Role: Scrum Master / Customer</li>
            <li>Program: <a href="https://www.centennialcollege.ca/programs-courses/full-time/software-engineering-technology/">Software Engineering Technology (Co-op)</a></li>
            <li><a href="https://github.com/Asemota33">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/michaelasemota">LinkedIn</a></li>
        </ul>
    </li>
    <li>
        Ibrahim Jomaa
        <ul>
            <li>Role: Software Developer | Tech Lead</li>
            <li>Program: <a href="https://www.centennialcollege.ca/programs-courses/full-time/software-engineering-technology/">Software Engineering Technology (Co-op)</a></li>
            <li><a href="https://github.com/Function-0">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/ibrahim-jomaa/">LinkedIn</a></li>
        </ul>
    </li>
    <li>
        Sanjib Saha
        <ul>
            <li>Role: Software Developer</li>
            <li>Program: <a href="https://www.centennialcollege.ca/programs-courses/full-time/software-engineering-technology/">Software Engineering Technology</a></li>
            <li><a href="https://github.com/SanjibSaha27">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/sanjib-saha-79914b1bb/">LinkedIn</a></li>
        </ul>
    </li>
    <li>
        Shaminda Abeysekara
        <ul>
            <li>Role: Software Developer</li>
            <li>Program: <a href="https://www.centennialcollege.ca/programs-courses/full-time/software-engineering-technology/">Software Engineering Technology</a></li>
            <li><a href="https://github.com/Shaminda1017">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/shamindaabeysekara">LinkedIn</a></li>
        </ul>
    </li>
    <li>
        Emmanuel Ajayi
        <ul>
            <li>Software Developer | Tech Lead</li>
            <li>Program: <a href="https://www.centennialcollege.ca/programs-courses/full-time/game-programming/">Game Programming (Co-op)</a></li>
            <li><a href="https://github.com/Dami908">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/emmalare">LinkedIn</a></li>
        </ul>
    </li>
    <li>
        Nusrat Jahan
        <ul>
            <li>Software Developer</li>
            <li>Program: <a href="https://www.centennialcollege.ca/programs-courses/full-time/software-engineering-technician/">Software Engineering Technician</a></li>
            <li><a href="https://github.com/nusratjt">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/nusrat-jahan-6047aa171/">LinkedIn</a></li>
        </ul>
    </li>
    <li>
        Shaniquo McKenzie
        <ul>
            <li>Software Developer</li>
            <li>Program: <a href="https://www.centennialcollege.ca/programs-courses/full-time/health-informatics-technology/">Health Informatics Technology (Co-op)</a></li>
            <li><a href="https://github.com/shaniquo">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/shaniquo-mckenzie">LinkedIn</a></li>
        </ul>
    </li>
</ul>
