@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAWd6Xlw3397XCmkMm3IjrfLBD2eXaXhCE" type="text/javascript"></script>
<link href="~/css/stylesearchbutton.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />


<header>
    <style>
        body {
            background-image: url(../images/Mechanicbackgorund.jpg);
        }
    </style>

</header>


<br />
<br />
<br />
<div class="row">
    <div class="col-md-3">
        <input type="text" class="form-control" id="homeAdrress" name="homeAddress" placeholder="Enter your address">
    </div>

    <div class="col-md-3">
        <select id="locationAddress" class="form-control" asp-items="ViewBag.AddressList"></select>
    </div>

    <div class="col-md-4">
        <input type="submit" value="Get Distance" onclick="calculateDistance()" />
    </div>

    <div>
        <div id="dvDistance"></div>
    </div>
</div>


<div class="wrapper">
    @using (Html.BeginForm("SearchLocalSellersProducts", "Search", FormMethod.Get))
    {
        <div class="search_box">
            <div class="input_postalcode">
                <input type="text" class="input" placeholder="Postal Code">
            </div>
            <div class="search_box">
                <div class="dropdown">
                    <div class="default_option">All</div>
                    <ul>
                        <li>All</li>
                        <li>Local Sellers</li>
                        <li>eBay</li>
                        <li>Alibaba and Amazon</li>
                    </ul>
                </div>
                <div class="search_field">
                    <input type="text" class="input" id="query" name="query" placeholder="Search">
                    @*@Html.TextBox("query")*@
                    <button><i class="fas fa-search"></i></button>
                </div>
            }
        </div>
    </div>



@section Scripts
{
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".default_option").click(function () {
                $(".dropdown ul").addClass("active");
            });
            $(".dropdown ul li").click(function () {
                var text = $(this).text();
                $(".default_option").text(text);
                $(".dropdown ul").removeClass("active");
            });
        });

        function calculateDistance() {
            var locationAddress = $('#locationAddress :selected').text();
            var userAddress = $("#homeAdrress").val();

            getGoolgeMapsData(userAddress, locationAddress)

        }
        function getGoolgeMapsData(src, dest) {
            var directionsDisplay;
            var directionsService = new google.maps.DirectionsService();

            var request = {
                origin: src,
                destination: dest,
                travelMode: google.maps.TravelMode.DRIVING
            };

            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });

            //*********DISTANCE AND DURATION**********************//
            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix({
                origins: [src],
                destinations: [dest],
                travelMode: google.maps.TravelMode.DRIVING,
                unitSystem: google.maps.UnitSystem.METRIC,
                avoidHighways: false,
                avoidTolls: false
            }, function (response, status) {

                if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                    var distance = response.rows[0].elements[0].distance.text;
                    var duration = response.rows[0].elements[0].duration.value;
                    var dvDistance = document.getElementById("dvDistance");
                    duration = parseFloat(duration / 60).toFixed(2);
                    dvDistance.innerHTML = "";
                    dvDistance.innerHTML += "Distance: " + distance + "<br />";
                    dvDistance.innerHTML += "Time:" + duration + " min";

                } else {
                    alert("Unable to find the distance via road.");
                }
            });
        }

    </script>

}
